/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Bangers);

@font-face {
    font-family: 'BadaboomBB';
    src: url('../assets/fonts/badabb__-webfont.woff2') format('woff2'),
    url('../assets/fonts/badabb__-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

/* LAYOUTS */

html, body {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #333;
}

div, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

text {
    font-size: 16px;
    font-family: BadaboomBB, script; 
}

.site {
    height: 100%;
}

.container {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;

    -webkit-transform-style : preserve-3d;
    -moz-transform-style    : preserve-3d;
    -o-transform-style      : preserve-3d;
    -ms-transform-style     : preserve-3d;
    transform-style         : preserve-3d;
}

.panel {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 100% 100%, cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.panel .inner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel .outter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel.open {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* NAVBAR HEADER*/

header {
    width: 100%;
    top: 0;
    position: absolute;
    background-color: transparent;
    display: block;
    z-index: 2000;
    transition: 1000ms;
    -webkit-transition: 1000ms;
}

img.barcode {
    max-width: 225px;
    height: auto;
    position: absolute;
    bottom: 20px;
}

img.gif {
    max-width: 220px;
    height: auto;
    position: absolute;
    left: -50px;
    bottom: 210px;
}

.barcode-text {
    width: 203px;
    background-color: #f0f0f0;
    font-size: 22px;
    position: absolute;
    left: -1px;
    bottom: 165px;
    text-align: center;
    border: 1px solid #222;
}

main.home .edition {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 0px;
    font-size: 24px;
    width: 202px;
    background-color: #f0f0f0;
    text-align: left;
    padding: 0 20px 0 20px;
    border: 1px solid #222;
    border-right: 0;
}

header .nav {
    width: 100%;
    height: auto;
    top: 0;
    display: block;
    text-align: center;
}

header .nav li .active {
    color: black;
    font-size: 28px;
    text-shadow: -1px -1px yellow, 1px 1px orange,  2px 2px orange;
}

header .nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    padding: 8px 12px;
    transition: 300ms;
    -webkit-transition: 300ms;
}

.yellow-text {
    color: #ffce55;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", sans-serif;
  color: #222;
}

.centered {
    text-align: center;
}

.bangers {
    font-family: "Bangers";
    width: 100%;
}

.badaboombb {
    font-family: "BadaboomBB";
    width: 100%;
}

.headline {
    margin: 0 0 -1em 0;
    -webkit-transform: rotate(-10deg) skew(-10deg, 0);
    -moz-transform: rotate(-10deg) skew(-10deg, 0);
    -ms-transform: rotate(-10deg) skew(-10deg, 0);
    -o-transform: rotate(-10deg) skew(-10deg, 0);
    transform: rotate(-10deg) skew(-10deg, 0);
    padding-bottom: 50px;
}

.yellow-shadow {
    text-shadow: -1px -1px yellow, 1px 1px #ffa500,  2px 2px orange;
}

.black-shadow {
    text-shadow: -1px -1px black, 1px 1px black,  2px 2px black;
}

h1.badaboombb {
    font-size: 160px;
}
  
h2.badaboombb {
    font-size: 110px;
}
  
h3.badaboombb {
    font-size: 80px;
}
  
h4.badaboombb {
    font-size: 44px;
    margin: 25px;
    letter-spacing: 2px; 
}

h5.badaboombb {
    font-size: 40px;
}

p {
    font-size: 30px;
    letter-spacing: 2px;
}

/* WORKXP */

.fa-times-circle {
    position: fixed;
    top: 3%;
    right: 3%;
    font-size: 44px;
    color: #222;
}

.back-arrow {
    display: flex;
    font-size: 30px;
    position: fixed;
    top: 4%;
    left: 3.5%;
    z-index: 2;
    cursor: pointer;
}

.back-arrow img {
    height: 34px;
}
