/* My Story */

/* Layout */

#mystory-header {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background: transparent;
    text-align: center;
    transition: opacity 2000ms;
}

#mystory-header.active {
    display: block;
    opacity: 1;
}

#mystory-header h4 {
    color: gray;
}

.section {
    opacity: 0;
    transition: opacity 500ms;
}

.section.active {
    opacity: 1;
    transition: opacity 1/200ms;
}

.box {
    background:#fff;
    border: solid black;
    border-color: black;
}

.prologue-wrapper {
    font-size: 32px;
    display: flex;
    height: 40%;
    margin: 0 10%;
}

.prologue-box1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 40%;
    background-color: white;
    border: none;
}

.prologue-box2 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
	overflow: hidden;
    margin: 10px auto;
    width: 40%;
    color: white;
    background-image: url(../assets/images/neither-have-i-confused-bnw.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 2% 90% 2%/4% 95% 3% 70%;
    transform: rotate(1deg);
}

.prologue-box3 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    position: relative;
	overflow: hidden;
    margin:25px auto;
    padding: 10%;
    width: 70%;
    height:80%;
    background-color: white;
    border: none;
    background-image: url(../assets/images/captain-levi.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.intro-wrapper {
    display: flex;
    height: 40%;
}

.intro-box1 {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 17%;
    background-image: url(../assets/images/spider-bite-1-bnw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 3px 3px 5px 5px;
    border-radius: 5% 9% 6% 10%/10% 8% 10% 5%;
}

.intro-box2 {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 20%;
    background-image: url(../assets/images/spider-halftone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 2% 90% 2%/4% 95% 3% 70%;
    transform: rotate(1deg);
}

.intro-box3::before {
	content: "";
    position: absolute;
	width: 100%;
	height: 110%;
	top: -5%;
	left: 0%;
    z-index: -1;
    background-image: url(../assets/images/responsive-bnw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-2deg);
}

.intro-box3 {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 48%;
    background-image: url(../assets/images/hackaday-bnw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 5px 3px 3px 5px;
    border-radius: 9% 1% 40% 1%/4% 12% 6% 20%;
    transform: rotate(1deg);
}

.wides-wrapper {
    display: flex;
    height: 40%;
}

.wides-box1 {
    position: relative;
	overflow: hidden;
    margin:25px auto;
    width:40%;
    background-image: url(../assets/images/usc-logo.svg);
    background-position: center center;
    background-size: 60% auto;
    background-color: #222;
    background-repeat: no-repeat;
    border-width: 3px 3px 5px 5px;
    border-radius: 5% 9% 6% 10%/10% 4% 10% 5%;
}

.ict-box1 {
    position: relative;
	overflow: hidden;
    margin:25px auto;
    width:85%;
    height:35%;
    background-image: url(../assets/images/usc-ict-image.jpg);
    background-position: center bottom;
    background-size: 100% auto;
    border-width: 3px 3px 5px 5px;
    border-radius: 5% 9% 6% 10%/10% 4% 10% 5%;
}

.hackaday-box1::before {
	content: "";
    position: absolute;
	width: 100%;
	height: 110%;
	top: -5%;
	left: 0%;
    z-index: -1;
    background-image: url(../assets/images/supplyframe-splash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-1deg);
}

.hackaday-box1 {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 85%;
    height: 38%;
    border-width: 3px 4px 3px 5px;
    border-radius: 9% 1% 40% 1%/4% 12% 6% 20%;
    transform: rotate(1deg);
}

.hackaday-wrapper {
    display: flex;
    height: 40%;
    margin: 0 10%;
}

.hackaday-box2 {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 30%;
    background-image: url(../assets/images/daily-struggle-bnw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 3px 3px 5px 5px;
    border-radius: 5% 9% 6% 10%/10% 8% 10% 5%;
}


.hackaday-box3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 50%;
    background-color: white;
    border: none;
}

.hackaday-box4::before {
	content: "";
    position: absolute;
	width: 100%;
	height: 110%;
	top: -5%;
	left: 0%;
    z-index: -1;
    background-image: url(../assets/images/hackaday-bnw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-1deg);
}

.hackaday-box4 {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 60%;
    background-image: url(../assets/images/hackaday-bnw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 5px 3px 3px 5px;
    border-radius: 9% 1% 40% 1%/4% 12% 6% 20%;
    transform: rotate(1deg);
}

.superhero-wrapper {
    display: flex;
    height: 40%;
    margin: 0 10%;
}

.superhero-box1 {
    position: relative;
    margin: 10px auto;
    width: 50%;
    background-image: url(../assets/images/the-hero-we-deserve-bnw.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 2% 90% 2%/4% 95% 3% 70%;
    transform: rotate(1deg);
}

.superhero-box2 {
    position: relative;
    top: 0%;
    margin: 10px auto;
    z-index: 2;
    width: 23%;
    height: 125%;
    background-image: url(../assets/images/thenightwatch-bnw.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 2% 90% 2%/4% 95% 3% 70%;
    transform: rotate(1deg);
}

.superhero-box {
    position: relative;
	overflow: hidden;
    margin: 10px auto;
    width: 90%;
    height:38%;
    background-color: lightgray;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 2% 90% 2%/4% 95% 3% 70%;
    transform: rotate(1deg);
}

.boxinner {
    font-size: 32px;
    width: max-content;
    transform: rotate(-1deg);
    margin: 0px;
    padding: 5px 5px;
    float: left;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.boxinner-v2 {
    font-size: 26px;
    width: max-content;
    transform: rotate(-1deg);
    margin: 0px;
    padding: 5px 5px;
    float: left;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.top-left {
    top: 2px;
    left: 10px;
    max-width: 250px;
    width: max-content;
    font-size: 16px;
    margin: 0px;
    padding: 5px 5px;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
    transform: rotate(-1deg) skew(-5deg);
}

.top-right {
    font-size: 16px;
    position: absolute;
    top: 2px;
    right: 0;
    margin: 0px;
    padding: 5px 5px;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
    transform: skew(-2deg);
}

.bottom-left {
    font-size: 16px;
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-1deg) skew(0deg);
    margin: 0px;
    padding: 5px 5px;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.bottom-right {
    font-size: 16px;
    max-width: 300px;
    position: absolute;
    bottom: 12px;
    right: 0;
    transform: rotate(-1deg) skew(-3deg);
    margin: 0px;
    padding: 5px 5px;
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.right {
    font-size: inherit;
    max-width: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    transform: rotate(-1deg) skew(-3deg);
    margin: 0px;
    padding: 5px 5px;
    background: transparent;
}

/* BOX Specifics */

.prologue-box3 p {
    border: none;
    background-color: white;
    box-shadow: 3px 3px 0 #222;

}

.captain-levi {
    font-size: 128px;
}

.fas {
    transform: rotate(5deg);
    font-size: 3em;
    color: grey;
}

.bad-guys {
    display: contents;
    color: rgb(121, 15, 15);
}

.strike-through::before {
    position: absolute;
    content: '';
    top: 66%;
    width: 28%;
    height: 0.3em;
    border-radius: .05em;
    background-color: rgba(150,0,0,0.8);
    transform-origin: 0% 0%;
    transform: rotateZ(-3deg);
    opacity: 1;
}

.altrotation {
    transform: rotate(-2deg);
}

.emphasis {
    color: black;
    text-align: center;
}

/* FullPage Props */

.section {
    text-align:center;
    font-size: 3em;
}