/* Work XP */

/* Layout */

#workxp-header {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background: transparent;
    text-align: center;
    transition: opacity 2000ms;
}

#workxp-header.active {
    display: block;
    opacity: 1;
}

.supplyframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

.ict {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

/* #workxp-header h4 {
    color: gray;
} */

.section {
    opacity: 0;
    transition: opacity 500ms;
}

.section.active {
    opacity: 1;
    transition: opacity 1/200ms;
}

/* .workxp-pageone {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 0 0 0;
    grid-template-rows: 90vh;
    align-items: center;
    justify-items: center;
}

.workxp-pageone .supplyframe {
    background-color: blue;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
}

.workxp-pageone .usc-ict {
    background-color: red;    
} */